<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>HEADER</h1>
    test: <%= loggedIn %> 
    <% if (loggedIn) { %> 
      Logged in as <a href="<%= `/users/${currentUser._id}` %> ">
        <%= currentUser.fullName %></a>
        <a href="/users/logout">Log out</a>
    <% } else { %> 
      <a href="/users/login">Log In</a>
    <% } %> 
  </header>
  <div class="flashes">
    <%# show flash messages if any %>
    <% if (flashMessages) { %>
      <% if (flashMessages.success) { %>
        <div class="success"><%= flashMessages.success %> </div>
      <% } else if (flashMessages.updated) { %>
        <div class="updated"><%= flashMessages.updated %> </div>
      <% } else if (flashMessages.deleted) { %>
        <div class="deleted"><%= flashMessages.deleted %> </div>
      <% } else if (flashMessages.error) { %>
        <div class="error"><%= flashMessages.error %> </div>
      <% } %>
    <% } %>
  </div>
  <%- body %>
  <footer>
    <h3>FOOTER</h3>
  </footer>
</body>

</html>